* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #FFEDD5;
  font-family: 'Roboto', sans-serif;
}
ul {
  list-style: none;
}
h1, h2, h3, .price {
  font-family: 'Roboto Serif', serif;
  text-transform: uppercase;
  color: #2D2C2A;
}
header {
  padding: 2rem 0;
  text-align: center;
}
header, section {
  max-width: 300px;
  margin: 0 auto;
}
header h1 {
  margin-botton: 4px;
  font-size: 1.75rem;
  line-height: 2.0625rem;
}
header h1 span {
  color: #995000
}
header p {
  color: rgba(0,0,0,0.7);
  line-height: 1rem;
  font-size: 0.875rem;
}
section {
  margin-botton: 2rem;
}
section h2{
  background-color: #FED7AA;
  padding: .5rem 1rem;
  text-align: center;
  margin-bottom: 2rem;
  font-size: 1.125rem;
}
ul li {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}
.content {
  display: flex;
  justify-content: flex-start;
}
li img { 
  width: 3rem;
  height: 3rem;
  border-radius: .5rem;
  border: .25rem solid #FED7AA;
  outline: .125rem solid #995000;
  background-color: #fff;
  margin-right: .5rem;
}
li .details {
  max-width: 240px;
}
.details h3 {
  margin-bottom: .5rem;
  font-size: 1rem;
  line-height: 1.1875rem;
}
.details p {
  color: rgba(0,0,0,0.6);
  line-height: 1.3125rem;
}
footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #FED7AA;
  padding-bottom: 1rem;
}
footer img {
  width: 8rem;
  height: 4rem;
  padding: 1rem;
}
footer div input, footer div button {
  font-size: 1rem;
  line-height: 1.1875rem;
  font-weight: bold;
  border-radius: .5rem;
  border: .25rem solid #FED7AA;
  padding: .25rem;
  margin: .25rem
}
footer div button{
  outline: .125rem solid #995000;
}